{% extends './base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block header %}
    {% include './block/slider.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-3">Последние записи блога</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static '/images/11.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Драг-рейсинг</h4>
                        <p class="card-text">Драг-рейсинг – это парная спринтерская гонка по прямой трассе. Иногда проводятся соревнования на других...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">19.03.2022</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/12.jpg' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Тихий океан</h4>
                        <p class="card-text">Тихий океан — самый большой и самый древний из всех океанов. Его площадь составляет 178,6 млн. км2.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">19.03.2022</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/13.jpg' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Закат</h4>
                        <p class="card-text">Она стояла смотрела на закат — это было самое замечательное, потому что когда...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">19.03.2022</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/21.jfif' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Заголовок</h4>
                        <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">19.03.2022</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/22.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Заголовок</h4>
                        <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">19.03.2022</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/23.jpg' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Заголовок</h4>
                        <p class="card-text">Это краткое описание поста. Это краткое описание поста. Это краткое описание поста. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">19.03.2022</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagination %}
    <nav aria-label="Paginate me">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Следующая</a>
            </li>
        </ul>
    </nav>
    <br>
{% endblock %}